<mat-selection-list role="list" #categoriesList [(ngModel)]="categories" >
    <mat-list-option>Ordinary Drink</mat-list-option>
    <mat-list-option>Cocktail</mat-list-option>
    <mat-list-option>Milk \/ Float \/ Shake</mat-list-option>
    <mat-list-option>Other\/Unkown</mat-list-option>
    <mat-list-option>Cocoa</mat-list-option>
    <mat-list-option>Shot</mat-list-option>
    <mat-list-option>Coffee \/ Tea</mat-list-option>
    <mat-list-option>Hommade Liqueur</mat-list-option>
    <mat-list-option>Punch \/ Party Drink</mat-list-option>
    <mat-list-option>Beer</mat-list-option>
    <mat-list-option>SoftDrink \/ Soda</mat-list-option>
</mat-selection-list>
<!-- <p>
    <button mat-button (buttonClicked)="clickApply(Categories.selectedOptions.selected)">Apply</button>
</p> -->
