<mat-action-list role="list">
    <button mat-list-item (click)=c1()>Ordinary Drink</button>
    <button mat-list-item (click)=c2()>Cocktail</button>
    <button mat-list-item (click)=c3()>Milk \/ Float \/ Shake</button>
    <button mat-list-item (click)=c4()>Other\/Unkown</button>
    <button mat-list-item (click)=c5()>Cocoa</button>
    <button mat-list-item (click)=c6()>Shot</button>
    <button mat-list-item (click)=c7()>Coffee \/ Tea</button>
    <button mat-list-item (click)=c8()>Hommade Liqueur</button>
    <button mat-list-item (click)=c9()>Punch \/ Party Drink</button>
    <button mat-list-item (click)=c10()>Beer</button>
    <button mat-list-item (click)=c11()>SoftDrink \/ Soda</button>
</mat-action-list>

